body{
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
}
/* inizio header */
nav{
  height: 80px;
  line-height: 80px;
  background-color: #2C3E50;
  text-transform: uppercase;
}
.nav-left{
  text-align: left;
}
.nav-left h2{
  font-weight: 700;
  color: white;
}
.nav-right{
  text-align: right;
}
.nav-right i.fas{
  color: white;
}
.nav-right ul li a{
  color: white;
  margin-left: 15px;
  font-size: 17px;
  font-weight: 600;
}
.nav-right ul li a:hover{
  text-decoration: none;
  color: yellow;
}
.jumbotron{
  background-color: #1ABC9C;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.jumbotron h1{
  font-weight: 700;
}
.jumbotron .hr{
  display: flex;
}
.jumbotron .hr-line-left,
.jumbotron .hr-line-right{
  width: 20%;
  position: relative;
  border-bottom: 4px solid white;
}
.jumbotron .hr-line-left{
  margin: 15px 15px 15px auto;
}
.jumbotron .hr-line-right{
  margin: 15px auto 15px 15px;
}
.jumbotron .hr .fa{
  position: relative;
  top: 3px;
  color: white;
}
.jumbotron p{
  padding: 15px;
  font-weight: 400;
  font-size: 25px;
}
/* inzio sezione main */

/* inizio sezione portfolio */
.portfolio {
  color: #2C3E50;
  text-transform: uppercase;
  text-align: center;
}
.portfolio h2{
  font-weight: 700;
  font-size: 50px;
}
.portfolio .hr{
  display: flex;
  margin-bottom: 20px;
}
.portfolio .hr-line-left,
.portfolio .hr-line-right{
  width: 20%;
  position: relative;
  border-bottom: 4px solid #2C3E50;
}
.portfolio .hr-line-left{
  margin: 15px 15px 15px auto;
}
.portfolio .hr-line-right{
  margin: 15px auto 15px 15px;
}
.portfolio .hr .fa{
  position: relative;
  top: 3px;
  color: #2C3E50;
}
.portfolio img{
  width: 100%;
  margin-bottom: 25px;
  border-radius: 10px;
}
.about{
  background-color: #1ABC9C;
  text-align: center;
  color: white;
  padding: 40px 0;
}
.about h2{
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
}
.about p{
  padding: 15px;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}
.about .hr{
  display: flex;
  margin-bottom: 20px;
}
.about .hr-line-left,
.about .hr-line-right{
  width: 20%;
  position: relative;
  border-bottom: 4px solid white;
}
.about .hr-line-left{
  margin: 15px 15px 15px auto;
}
.about .hr-line-right{
  margin: 15px auto 15px 15px;
}
.about .hr .fas{
  position: relative;
  top: 3px;
  color: white;
}
.btn-outline-primary{
  color: white;
  background-color: #1ABC9C;
  border: 1px solid white;
}
