body{
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
}
/* inizio header */
nav{
  height: 80px;
  line-height: 80px;
  background-color: #2C3E50;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav-left{
  text-align: left;
}
.nav-left h2{
  font-weight: 700;
  color: white;
}
@media (max-width: 768px){
  .nav-left h2{
    font-size: 20px;
  }
}
.nav-right{
  text-align: right;
}
.nav-right i.fas{
  color: white;
}
.nav-right ul li a{
  color: white;
  margin-left: 15px;
  font-size: 17px;
  font-weight: 600;
}
.nav-right ul li a:hover{
  text-decoration: none;
  color: #1ABC9C;
}
.jumbotron{
  background-color: #1ABC9C;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
}
.jumbotron h1{
  font-weight: 700;
}
.jumbotron .hr{
  display: flex;
}
.jumbotron .hr-line-left,
.jumbotron .hr-line-right{
  width: 20%;
  position: relative;
  border-bottom: 4px solid white;
}
.jumbotron .hr-line-left{
  margin: 15px 15px 15px auto;
}
.jumbotron .hr-line-right{
  margin: 15px auto 15px 15px;
}
.jumbotron .hr .fa{
  position: relative;
  top: 3px;
  color: white;
}
.jumbotron p{
  padding: 15px;
  font-weight: 400;
  font-size: 25px;
}
/* inzio sezione main */

/* inizio sezione portfolio */
.portfolio {
  color: #2C3E50;
  text-transform: uppercase;
  text-align: center;
}
.portfolio h2{
  font-weight: 700;
  font-size: 50px;
}
@media (max-width: 768px){
  .portfolio h2{
    font-size: 30px;
  }
}
.portfolio .hr{
  display: flex;
  margin-bottom: 20px;
}
.portfolio .hr-line-left,
.portfolio .hr-line-right{
  width: 20%;
  position: relative;
  border-bottom: 4px solid #2C3E50;
}
.portfolio .hr-line-left{
  margin: 15px 15px 15px auto;
}
.portfolio .hr-line-right{
  margin: 15px auto 15px 15px;
}
.portfolio .hr .fa{
  position: relative;
  top: 3px;
  color: #2C3E50;
}
.portfolio img{
  width: 100%;
  margin-bottom: 25px;
  border-radius: 10px;
}
.box{
  width: 100%;
  height: 100%;
}
.portfolio .box .layover{
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(73, 227, 207, 0.75);
  position: relative;
}
.portfolio .layover .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
/* .portfolio .box:hover .layover{
  display: block;
} */
.about{
  background-color: #1ABC9C;
  text-align: center;
  color: white;
  padding: 40px 0;
}
.about h2{
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
}
@media (max-width: 768px){
  .about h2{
    font-size: 30px;
  }
}
.about p{
  padding: 15px;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}
.about .hr{
  display: flex;
  margin-bottom: 20px;
}
.about .hr-line-left,
.about .hr-line-right{
  width: 20%;
  position: relative;
  border-bottom: 4px solid white;
}
.about .hr-line-left{
  margin: 15px 15px 15px auto;
}
.about .hr-line-right{
  margin: 15px auto 15px 15px;
}
.about .hr .fas{
  position: relative;
  top: 3px;
  color: white;
}
.about .btn-outline-primary{
  color: white;
  background-color: #1ABC9C;
  border: 1px solid white;
}
/* inzio sezione contact */
.contact{
  text-align: left;
  color: #2C3E50;
  padding: 40px 0;
}
.contact h2{
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 768px){
  .contact h2{
    font-size: 30px;
  }
}
.contact p{
  padding: 15px;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}
.contact .hr{
  display: flex;
  margin-bottom: 20px;
}
.contact .hr-line-left,
.contact .hr-line-right{
  width: 20%;
  position: relative;
  border-bottom: 4px solid #2C3E50;
}
.contact .hr-line-left{
  margin: 15px 15px 15px auto;
}
.contact .hr-line-right{
  margin: 15px auto 15px 15px;
}
.contact .hr .fas{
  position: relative;
  top: 3px;
  color: #2C3E50;
}
.contact .btn-primary{
  background-color: #1ABC9C;
  border: none;
  font-weight: bold;
}
footer{
  color: white;
  text-align: center;
}
.footer-top{
  background-color: #3A546D;
  padding: 40px;
}
.footer-top h3{
  padding: 15px;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}
.footer-top p{
  font-weight: 600;
}
.footer-top p span{
  color: #1ABC9C;
}
.footer-top .btn-outline-secondary{
  background-color: #3A546D;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 5px;
  padding: 10px;
  height: 70px;
  width: 70px;
}
.footer-bottom{
  color: white;
  background-color: #2C3E50;
  text-align: center;
}
.footer-bottom p{
  font-weight: 600;
  padding: 40px 0;
}
